body
  text-align: center
  margin: 0 auto
  width: 100vw

.primary
  background-color: $material-red
  color: $color-secondary
  padding: 10%
  box-shadow: 0px 6px 23px 1px rgba(0,0,0,0.75);

.secondary
  color: $color-secondary-2
  padding: 10%

.light-bg
  h1
    color: $text-dark-primary
  h2
    color: $text-dark-hint
  p
    color: $text-dark-secondary

.dark-bg
  h1
    color: $text-light-primary
  h2
    color: $text-light-hint
  p
    color: $text-light-secondary

.project-container
  width: 80%
  margin: auto
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.project
  width: 240px
  height: 240px
  margin: 10px auto
  box-shadow: 0px 6px 23px 1px rgba(0,0,0,0.75);
  font-size: 14px
  img
    width: 100%
    height: auto
