<section class="primary dark-bg">
  <h1>Rasmus Elmgren</h1>

  <p>I am a programmer currently studying towards a Master's degree in Computer Science at the Royal Institute of Technology with a major in Human Computer Interaction.</p>
</section>

<section class="secondary light-bg">
  <h1>Portfolio</h1>

  <div class="project-container">
    <div class="project" ng-repeat="project in projects" ng-click="selectProject(project)">
      <a ui-sref="{{project.slug}}">
        <img ng-src="www/img/{{ project.img }}"/>
        <h2>{{ project.name }}</h2>
      </a>
    </div>
  </div>
</section>
