<div class="project">

  <h1>Studs</h1>
  <h4>role: Communications Manager</h4>
  <img src="www/img/studs.jpg"/>
  <a href="http://studieresan.se">Link to the website!</a>
  <p>
    Being part of the lead group for the Studieresan project, I was responsible for the website. I recruited a team of developers and remade the website www.studieresan.se. I was mostly handling the backend, setting up models, databases and servers.
  </p>
  <p>
    Joakim Edlund, Victor Larsson, William Perkola
  </p>
</div>
