<div class="project">

  <h1>Studs-app</h1>
  <h4>role: Programmer and Designer</h4>
  <img src="www/img/studs-app.png"/>
  <a href="https://github.com/relmgren/studs-app">Github-repository</a>
  <p>
    For the Studieresan project we designed and developed an mobile application that would help the members of the project with the schedule and leisure time of the trip. The participants can upload photos to challenges in the app and see on the map where the next event is.
  </p>
  <p>
    Aroshine Munasinghe, Emilio Lando, Eric Blomquist
  </p>
</div>
