<div class="showcase">

  <h1>Voice Controlled Animation</h1>
  <h4>role: Programmer</h4>
  <img src="www/img/vca.jpg"/>
  <a href="https://www.youtube.com/watch?v=6bI5TPnc2NI&index=9&list=FL5OeLqOJLESrqvNyUlvLJ8w">Watch the demo!</a>
  <p>
    Developed in the Unity game engine we made a small game that used the voice of the players as the only input for the main players side kick. Using multiple modalitys was fun and gave the game another dimension.
  </p>
  <p>
    Alexander Johansson, Björn Englesson, Eric Blomquist
  </p>
</div>
