<div class="showcase">

  <h1>Wheelchair VR Puzzle Demo</h1>
  <h4>role: Designer and Developer</h4>
  <img src="www/img/wheelchair.png"/>
  <a href="https://www.youtube.com/watch?v=03g4BAvUr1k">Watch the demo!</a>
  <p>
    During the summer of 2016, my friends and I created a small virtual reality puzzle game for the HTC Vive. We were interested in how to approach the problem of movement in virtual reality so we decided to give a virtual electrical wheelchair a try. The puzzle game was created using Unreal Engine 4 and the HTC Vive.

    I worked on level design and worked alot with models in Blender. Later on, I also implemented the models logic in Unreal Engine.
  </p>
  <p>
  </p>
</div>
